.header {
  height:100px;
  display: flex;
  position: relative;
  top: 0px;
}

.Searchbars {
  display: inline-block;
  width: 33%
}

#mapid { 
    height: 500px; 
    position: absolute; 
    bottom:0; right:0; left:0;
}