.header {
  height:100px;
  display: flex;
  position: relative;
  top: 0px;
}

#mapid {
  height: 500px;
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  left: 0;
}

/* .searchbars - .collapsible-body are needed for the filters and searchbars on the map module */
.Searchbars {
  display: inline-block;
  width: 33%
}

ul > li {
  display: inline-block;
  zoom: 1;
  z-index: 2;
}

.collapsible-header {
  display: inline-block;
  background-color: white;
}

.collapsible-body {
  background-color: white;
  position: absolute;
}

.bg-image {
  position: fixed;
  background-image: url(../images/AustinSkyline.jpg);
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  height:100vh;
  width:100vw;
  z-index: -1;
}

.login {
  text-align: right;
  padding: 20px 0 0 0;
  margin-right: 0;
}

.loginLink, .signUpLink {
  display: inline;
  color: #18bc9d;
  font-weight: 700;
  font-size: 20px;
}

.signUpLink {
  padding: 0 0 0 20px;
}

.munchi-intro {
  background-color: #71db77;
  color: white;
  font-weight: bold;
  width: 70%;
  text-align: center;
  margin-top: 200px;
  border-radius: 20px;
}

.munchiRow {
  padding: 30px 20px;
}

.munchi-input {
  margin: 25px 0 0 0;
}

img {
  width: 300px;
  float: left;
}

label {
  color: white;
  font-size: 20px;
  top: 20px;
}

input {
  background-color: white !important;
  border-radius: 20px !important;
  text-align: center;
  margin: 15px 0 0 0 !important;
  font-size: 20px !important;
}

a {
  font-size: 25px;
  color: #18bc9d;
}

.whereAboutsLabel {
  margin-top: 20px;
}

#searchButton {
  /* position: relative;
  bottom: 46px;
  left: 316px; */
  margin-top: 15px;
  height: 46px;
  width: 55px;
  border-radius: 0 20px 20px 0;
  background-color: #18bc9d;
  cursor: pointer;
  border: 0;
  /* padding: 0; */
}

#magnifySearch {
  width: 30px;
  cursor: pointer;
}

#zipInput {
  width: 375px;
  border-radius: 20px 0 0 20px !important;
  margin: 0;
}

/* .inputSearch {
  vertical-align: middle;
} */
#zipInput,#searchButton {
  display: inline-block;
  vertical-align: middle;
}

#orLabel {
  margin: 5px 0;
  padding-right: 20px;
}

#currentLocation {
  font-size: 20px;
}

#orLabel,#currentLocation {
  display: inline-block;
  padding-top: 20px;
}
